#profile-parent {
  position: relative;

  .profile-container {
    position: absolute;
    top: 0;
    left: 23%;
    right: 23%;
    bottom: 0;
    background-color: rgba(121, 121, 121, 0.155);
    box-shadow: 1px 1px 4px -3px var(--header);
    overflow-y: auto;
    @media only screen and (max-width: 1200px) {
      left: 22%;
      right: 22%;
    }
    @media only screen and (max-width: 850px) {
      left: 10%;
      right: 10%;
    }
    @media only screen and (max-width: 400px) {
      left: 3%;
      right: 3%;
    }

    
    #profile-header {
      width: 100%;
      height: 8rem;
      background-color: rgba(102, 102, 102, 0.27);
      position: relative;

      .profile-avatar-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);

        .MuiAvatar-root {
          width: 7rem;
          height: 7rem;
          background-color: var(--header);
        }
      }
    }
    .profile-body {
      padding: 3.5rem 1rem 1rem 1rem;
      .section-one {
        p {
          font-size: 1.5rem;
        }
      }
      .section-two {
        margin: 2rem 0;
       ul
        {
          text-align: left;  
          li p {
            padding-left: .1rem;
            font-size: 0.9rem;
            @media only screen and (max-width: 850px) {
              font-size: 1rem;
            }
          }
        }

        
      }

      .ws-max-count-section{
         .progress-container {
          padding: 0.5rem 1rem;

          min-height: 5rem;
          background-color: var(--background);
          border-radius: 1rem;
          padding-left: 1rem;
        }
         .progress-container > P {
          padding: 0.7rem 0;

          font-size: 0.9rem;

          @media only screen and (max-width: 850px) {
            font-size: 1.1rem;
          }
        }
      }

      .section-three-ws-list {
        margin: 1rem 0;
        background-color: var(--background);
        border-radius: 1rem;
        padding: 1.5rem;

        .progress-container {
          margin-bottom: 0.5rem;

          p {
            font-size: 0.9rem;

            @media only screen and (max-width: 850px) {
              font-size: 1.1rem;
            }
          }
        }
      }
    } 
}
}
 