 

  .parentLoginSignupDark{
    height:100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1164%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 21%2c 83%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c435.053C114.25%2c444.018%2c221.372%2c552.147%2c328.228%2c510.733C433.845%2c469.799%2c487.793%2c345.213%2c515.31%2c235.334C540.624%2c134.253%2c495.355%2c33.783%2c473.169%2c-68.031C452.698%2c-161.975%2c458.34%2c-270.258%2c390.328%2c-338.221C323.127%2c-405.374%2c216.992%2c-405.9%2c122.785%2c-418.166C41.159%2c-428.794%2c-37.48%2c-417.432%2c-118.774%2c-404.508C-212.289%2c-389.641%2c-319.128%2c-401.034%2c-388.738%2c-336.843C-459.615%2c-271.484%2c-460.902%2c-163.357%2c-482.242%2c-69.336C-505.478%2c33.035%2c-553.612%2c137.913%2c-518.989%2c237.014C-483.524%2c338.525%2c-397.176%2c423.361%2c-296.714%2c461.696C-202.019%2c497.83%2c-101.044%2c427.124%2c0%2c435.053' fill='%23010e36'%3e%3c/path%3e%3cpath d='M1440 998.9739999999999C1546.295 1022.6949999999999 1653.849 1089.7089999999998 1755.7930000000001 1051.383 1860.211 1012.127 1932.833 906.893 1967.211 800.769 2000.107 699.221 1965.634 591.524 1938.1770000000001 488.373 1913.4859999999999 395.615 1875.766 309.281 1816.3229999999999 233.914 1754.626 155.69 1687.796 68.84199999999998 1590.476 47.527000000000044 1494.488 26.50400000000002 1401.456 83.18200000000002 1311.807 123.416 1232.843 158.85500000000002 1152.717 196.94600000000003 1101.719 266.878 1052.791 333.972 1058.717 422.068 1035.809 501.886 1008.4169999999999 597.329 917.536 689.598 953.876 782.005 989.8820000000001 873.565 1113.583 888.017 1203.426 928.116 1280.152 962.361 1357.996 980.674 1440 998.9739999999999' fill='%23011c70'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1164'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }
  .parentLoginSignupLight{
    height:100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(210%2c 210%2c 210%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c435.053C114.25%2c444.018%2c221.372%2c552.147%2c328.228%2c510.733C433.845%2c469.799%2c487.793%2c345.213%2c515.31%2c235.334C540.624%2c134.253%2c495.355%2c33.783%2c473.169%2c-68.031C452.698%2c-161.975%2c458.34%2c-270.258%2c390.328%2c-338.221C323.127%2c-405.374%2c216.992%2c-405.9%2c122.785%2c-418.166C41.159%2c-428.794%2c-37.48%2c-417.432%2c-118.774%2c-404.508C-212.289%2c-389.641%2c-319.128%2c-401.034%2c-388.738%2c-336.843C-459.615%2c-271.484%2c-460.902%2c-163.357%2c-482.242%2c-69.336C-505.478%2c33.035%2c-553.612%2c137.913%2c-518.989%2c237.014C-483.524%2c338.525%2c-397.176%2c423.361%2c-296.714%2c461.696C-202.019%2c497.83%2c-101.044%2c427.124%2c0%2c435.053' fill='%23898989'%3e%3c/path%3e%3cpath d='M1440 998.9739999999999C1546.295 1022.6949999999999 1653.849 1089.7089999999998 1755.7930000000001 1051.383 1860.211 1012.127 1932.833 906.893 1967.211 800.769 2000.107 699.221 1965.634 591.524 1938.1770000000001 488.373 1913.4859999999999 395.615 1875.766 309.281 1816.3229999999999 233.914 1754.626 155.69 1687.796 68.84199999999998 1590.476 47.527000000000044 1494.488 26.50400000000002 1401.456 83.18200000000002 1311.807 123.416 1232.843 158.85500000000002 1152.717 196.94600000000003 1101.719 266.878 1052.791 333.972 1058.717 422.068 1035.809 501.886 1008.4169999999999 597.329 917.536 689.598 953.876 782.005 989.8820000000001 873.565 1113.583 888.017 1203.426 928.116 1280.152 962.361 1357.996 980.674 1440 998.9739999999999' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }
    
    
    
    
  .enterUserPages {
    

  .container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .MuiGrid-root{

      div{

        // input{
        //   color: var(--text1);
        //   letter-spacing: 1px; 
        // }

        // fieldset{
        //   border-color: var(--borders);
        // }

       

      }

      // .errorStateField{
      //   fieldset{
      //     border-color: var(--errorBorder);
      //   }
      // }


      
      p{
        color:var(--errorBorder);
      }


     
      


    }
      .linkStyles {
      color: var(--text3);
      font-size: 0.7rem;
      letter-spacing: 1px;
      text-decoration: none;
    }
    }
  }
