#setting-bar-container {
  height: 100vh;
  min-width: 2.5rem;
  background: var(--secondSidebar);
  position: relative;

  .setting-bar-section {
    text-align: center;
    margin: 3rem 0;
    .selected-setting{
      background: var(--sidebar);
      border-radius: .4rem;
      cursor: pointer;
      width: 35px;
      height: 35px;
      border:1px solid orange;
      margin:.6rem auto;
      .icon-style{
        margin-top:7px;
        font-size: 1.2rem;
    }

    .icon-style2{
        margin-top:7px;
        font-size: 1.2rem;
    }
    }
    .unselected-setting{
      cursor: pointer;
      margin:.6rem auto;
      .icon-style{
        margin-top:7px;
        font-size: 1.2rem;
    }

    .icon-style2{
        margin-top:7px;
        font-size: 1.2rem;
    }
    }
    

    
  }
  
}