.selected-list-todo-view-column > .MuiPaper-root {
  margin-left: 1.6rem;
  background-color: var(--secondSidebar);
  border: 1px solid var(--borders);
}

.selected-list-todo-view-column-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width:50px;
  font-family:"Space Grotesk";
}

.selected-list-priority-filter-parent  svg{
  font-size:1.6rem;
  margin :3px 2px;
}


.todo-view-item {
  padding: 0.5rem 1rem;
  color:var(--text3);
  margin:5px;
  cursor:pointer;
  user-select: none;
  font-weight: bold;
}

.todo-view-item-active {
  background: var(--sidebar);
  border-radius: 0.4rem;
  border: 1px solid var(--borders);
  color:var(--hoverSuccess)

}
