 #sidebar {
    height: 100vh;
    margin: none;
    padding: 2rem 0;
    overflow: hidden; 

}
    #listCategories{
    list-style:none;
    padding-left:5px;
    font-size:1rem;
    margin-bottom:5px;
} 

.list-category-items{
    padding:.5rem 0;
    cursor:pointer;
    padding-left:10px;
    display: flex;
    justify-content: space-between;
    user-select: none;
   


}



.task-count-style{
    border-radius: 25%;

    padding:3px;
    margin-right:.5rem;
    text-align: center;
}
