#sidebar {
    height: 100vh;
    margin: none;
    padding: 2rem 0;
    overflow: hidden;
    transition:all 1s ease;
}
#listCategories{
    list-style:none;
    padding-left:5px;
    font-size:1rem;
}

.list-category-items{
    padding:.5rem 0;
    cursor:pointer;
    padding-left:10px;
    display: flex;
    justify-content: space-between;
}



.task-count-style{
    border-radius: 25%;

    padding:3px;
    margin-right:.5rem;
    text-align: center;
}
