.bulk-function-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: min(550px);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 3rem 2rem;
  position: relative;

  .closeIconBox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    svg path {
      stroke: var(--text1);
    }
  }

  @media only screen and (max-width: 450px) and (min-height: 750px) {
    height: 48rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 0.8rem;
  }
  .todo-list-box {
    grid-column: 1/9;
    grid-row: 1/10;
    padding: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    flex-basis: 72%;
    overflow-y: auto;
    border: 1px solid var(--borders);
    @media only screen and (min-width: 500px) and (max-width: 1000px) {
      grid-column: 1/9;
      grid-row: 1/10;

    }
    @media only screen and (max-width: 500px) {
      grid-column: 1/11;
      grid-row: 1/8;
    }
  }

  .bulk-function-operation {
    grid-column: 9/11;
    grid-row: 1/10;
    border-radius: 0.5rem;
    border: 1px solid var(--borders);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 10px 0;
    // transition: transform .5s ease;
    transform: translateX(-130px);
    z-index: -1;
    transform: scale(0.7);
    opacity: 0;

    @media only screen and (min-width: 500px) and (max-width: 1000px) {
      grid-column: 9/11;
      // width: 100%;
      margin: 0 1rem;
      padding: 10px 2rem;

    }
    @media only screen and (max-width: 500px) {
      grid-column: 1/11;
      grid-row: 8/9;
      padding: 10px 0;
      margin: 0;

      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
      width: 100%;
    }

    .drawer-icon-box {
      border-radius: 5px;
      padding: 1.7rem;
      cursor: pointer;
      color: var(--text1);

      svg path {
        color: var(--text1);
        stroke: var(--text1);
      }
    }
    .drawer-icon-box:hover {
      background-color: var(--sidebar);
      border: 1px solid var(--text3);
    }
  }

  .footer {
    border-radius: 0.5rem;
    grid-column: 1/11;
    grid-row: 10/11;

    padding: 1rem;
    // box-shadow:1px 1px 12px 1px var(--borders);
    border: 1px solid var(--borders);
    flex-basis: 100%;
    @media only screen and (min-width: 500px) and (max-width: 600px) {
      grid-row: 10/11;

    }




    @media only screen and (max-width: 500px) {
      grid-column: 1/11;
      grid-row: 9/10;
    }
    
    .d-flex-between-nowrap {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
      // height:100%;
  
      @media only screen and (min-width: 500px) and (max-width: 600px) {
        flex-direction: column;
        gap: 0.6rem;
      }
      .button-box {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
      }
    }
    p {
      text-align: center;
    }
  }
  .bulkFunctionOperationAnimation {
    animation: bulkFunctionOperationAnimationKeyframe 0.5s ease 0.1s forwards
      normal;
    // z-index: 1;
  }

  @keyframes bulkFunctionOperationAnimationKeyframe {
    from {
      transform: translateX(-130px);
      opacity: 0;
    }
    50% {
      opacity: 0.33;
      transform: scale(0.8);
    }
    to {
      transform: translateX(0px);
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}
