.switch-custom[data-isOn="true"] {
  justify-content: flex-end;
}
.switch-custom {
  width: 50px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 1.5px;
  cursor: pointer;

  .handle-switch-custom {
    width: 27px;
    height: 27px;
    background-color: #ffcfcf;
    border-radius: 40px;
  }
  .handle-switch-custom-active {
    width: 27px;
    height: 27px;
    background-color: rgb(103, 219, 103);
    border-radius: 40px;
  }
}

.switch-custom-small[data-isOn="true"] {
  justify-content: flex-end;
}
.switch-custom-small {
  width: 35px;
  height: 21px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 1.5px;
  cursor: pointer;

  .handle-switch-custom {
    width: 18px;
    height: 18px;
    background-color: #ffcfcf;
    border-radius: 40px;
  }
  .handle-switch-custom-active {
    width: 18px;
    height: 18px;
    background-color: rgb(103, 219, 103);
    border-radius: 40px;
  }
}
