body{
  margin:0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 20px;
  margin-left:10px;
  background-color: var(--background);

}


::-webkit-scrollbar-track{
  background-color: transparent;
}


::-webkit-scrollbar-thumb{
  background-color:var(--text3);
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

/* @font-face {
  font-family: "Dongle-Light";
  src: local("Dongle-Light"),
   url("/public/assets/fonts/Dongle-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Dongle-Bold";
  src: local("Dongle-Bold"),
   url("/public/assets/fonts/Dongle-Bold.ttf") format("truetype");
} */

.f-f-r-dongle,.f-f-s-g, a{
  font-family: "Space Grotesk";
}

input:-internal-autofill-selected{
  color:var(--text1) !important;
}
input:-webkit-autofill, input:-webkit-autofill:focus{
  -webkit-text-fill-color:var(--text1) !important;
}
.cp{cursor:pointer}