body{
  margin:0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Changa, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 20px;
  margin-left:10px;
  background-color: var(--background);

}


::-webkit-scrollbar-track{
  background-color: transparent;
}


::-webkit-scrollbar-thumb{
  background-color:var(--text3);
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}


.f-f-r-dongle,.f-f-s-g, a{
  font-family: "Space Grotesk";
}

input:-internal-autofill-selected{
  color:var(--text1) !important;
}
input:-webkit-autofill, input:-webkit-autofill:focus{
  -webkit-text-fill-color:var(--text1) !important;
}
.cp{cursor:pointer}
.usn{user-select:none}


li{
  color: var(--text1);
}
.text-fa-only{
  font-family:Kalameh;
  font-weight: 400;
  font-size:1.1rem;
}
.text-fa{
  font-family:'Kalameh' Space Grotesk;
  font-size:1rem;
}
.text-fa-2{
  font-family:'Kalameh' Changa;
  font-size:1rem;
}
.todo-box-text-fa{
  font-family:'Kalameh' Space Grotesk;
  text-align:right;
  font-size:1.1rem !important;
  word-spacing:1px;
  font-weight:600
}