@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito&display=swap');

%font-styles{
  color:var(--text1);
  font-family: 'Noto Sans', sans-serif;
  font-size:.8rem;
}
%box-styles{
  user-select: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  cursor: pointer;
}

#home-page {
  @extend %font-styles;
  height:100%;
  width:100%;
  padding:2rem;
  margin:auto;
  overflow-y:auto;
  
  .MuiGrid-root{
      grid-gap:1rem;
    .add-space-box{
      padding:1rem .2rem 1rem 1rem !important;
      border:1.5px solid var(--borders);
      border-radius: 12px 12px 12px 0;
      width:100%;
      height:200px;

      @extend %box-styles;
      .add-space-icon-box{
        padding-bottom:5px;
        border-bottom:1px solid var(--borders);

        .add-space-icon{
          font-size: 1.2rem;
          color:var(--borders);
          
        }
      }

      .add-space-item-box{
        padding:10px 0;
        height:100%;
        .add-space-item{
          @extend %font-styles;
          user-select: none;
          padding:10px 10px;
          cursor:pointer;
          &:hover{
            background-color:var(--text3);
            color:black;
          }
        }
      }
    }

  }


}