@use "public";
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito&display=swap");

%font-styles {
  color: var(--text1);
  font-family:  "Space Grotesk";
  font-size: 0.8rem;
}
%box-styles {
  user-select: none;
  border: 0.7px solid gray;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

%selected-setting {
  background: var(--sidebar);
  border-radius: 0.4rem;
  border: 1px solid orange;
  cursor: pointer;  
}

#home-page {
  @extend %font-styles;
  height: 100vh;
  width: min(900px,95%);
  padding: 2rem .5rem;
  margin: auto;
  overflow-y: auto;
  .workspace-home-box-title {
    font-size: min(1rem,1.2rem);
    @include public.truncateTextMixin(350px);
  }
 
    .add-space-box {
      padding: 0 1rem !important;
      border: 1.5px solid var(--borders);
      border-radius: 10px;
      width: 100%;
      height: 75vh;
      position: relative;
      overflow: hidden;

      @extend %box-styles;
      .add-space-icon-box { 
        border-bottom: 1px solid var(--borders);
        height:4rem;
        .add-space-icon {
          font-size: 1.2rem;
          color: var(--borders);
        }
      }

      .add-space-item-box {
        padding: 10px 0;
        height: 100%;
        .add-space-item {
          @extend %font-styles;
          user-select: none;
          padding: 10px 10px;

          &:hover {
            border: 1px solid var(--borders);
            color: var(--text1);
          }
        }
      }
    } 
}
