.swal2-container {
  z-index: 9999;
}
.swal2-input {
  font-family: system-ui monospace cursive;
  letter-spacing: 1px;
  font-size: 1.3rem !important;
}

.swal2-textarea {
  font-family: system-ui monospace cursive;
}

.Modal_DrakMode {
  background-color: var(--background) !important;

  position: relative;
  border: 2px solid var(--borders);
  border-radius: 1rem;
}
.Modal_LightMode {
  position: relative;
  border: 2px solid var(--borders);
  border-radius: 1rem;
}

.Modal_DrakModeLogout {
  height: 20rem;
  background-color: var(--header);
  position: relative;
  border: 2px solid var(--borders);
  border-radius: 1rem;
}
.Modal_LightModeLogout {
  height: 20rem;
  background-color: var(--background);
  position: relative;
  border: 2px solid var(--borders);
  border-radius: 1rem;
}

.Modal_TitleBar_Light {
  font-size: 2rem;
  color: black;
  font-family: sans-serif;
  display: block;
}
.Modal_TitleBar_Dark {
  font-size: 2rem;
  color: var(--text1);
  font-family: sans-serif;
  display: block;
}
.Modal_Deny_Button {
  background-color: red;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border: 1px solid white !important;
}

.Modal_Cancel_Button_Dark_Center {
  background-color: rgb(0, 48, 99) !important;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-55%);
  border: 1px solid white !important;
}
.Modal_Cancel_Button_Light_Center {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  bottom: 1rem;
  background-color: rgb(243, 243, 243) !important;
  color: black !important;
  border: 1px solid black !important;
  outline: none !important;
}
.Half_Width {
  width: 27% !important;
}
.Modal_Confirm_Button {
  margin: 10px !important;
  padding: 10px 30px !important;
  text-align: center !important;
  text-transform: capitalize !important;
  transition: 0.5s !important;
  background-size: 200% auto !important;
  color: white !important;
  border-radius: 4px !important;
  display: block !important;
  font-weight: 700 !important;
  box-shadow: 0px 0px 14px -7px #f09819 !important;
  background-image: linear-gradient(
    45deg,
    var(--header) 0%,
    var(--header) 100%
  ) !important;
  cursor: pointer !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  position: absolute;
  bottom: 0.5rem;
  right: 1.5rem;
  border: 1px solid white !important;
}

.Modal_Confirm_Button:hover {
  transform: translateY(-2px);
  background-position: right center !important;
  text-decoration: none;
  letter-spacing: 1px;
}

.Modal_Confirm_Button_Dark:active {
  transform: scale(0.95);
}

.Modal_Confirm_Button_FullWidth_Dark {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  background-color: var(--background) !important;
  color: var(--text1) !important;
  border: 1px solid var(--borders) !important;
  outline: none !important;
}

// .Modal_Confirm_Button_Light {
//   position: absolute;
//   bottom: 1rem;
//   right: 1rem;
//   width: fit-content;
//   background-color: rgb(243, 243, 243) !important;
//   color: black !important;
//   border: 1px solid black !important;
// }
.Modal_Confirm_Button_FullWidth_Light {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  background-color: var(--background) !important;
  color: var(--text1) !important;
  border: 1px solid var(--borders) !important;
  outline: none !important;
}
.Modal_Cancel_Button {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  width: 6rem;
  background: transparent !important;
  user-select: none !important;
  color: gray !important;
}
.Modal_Footer {
  display: block !important;
  border: none;
  height: 1rem;
}
.Modal_Footer_With_Spacer {
  display: block !important;
  border: none;
  height: 1rem;
  margin-top: 2rem;
}
.Modal_Input_Dark {
  z-index: 9999;
  color: white;
  border-radius: 10px !important;
}
.Modal_Radio_Container_Dark {
  margin-top: 3rem;
  background-color: #020828;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Modal_Radio_Container_Light {
  margin-top: 3rem;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Modal_Radio_Container_Dark > label {
  color: white;
  margin-right: auto;
  padding: 0.4rem 0;
  font-size: 1rem;
}
.Modal_Radio_Container_Light > label {
  color: black;
  margin-right: auto;
  padding: 0.4rem 0;
  font-size: 1rem;
}

.Modal_Input_Dark > option {
  color: white;
  background-color: rgb(0, 48, 99) !important ;
}
.Modal_Input_Light {
  z-index: 9999;
  color: black;
  border-radius: 10px !important;
}
.Modal_Input_Light > option {
  color: black;
  background-color: rgb(243, 243, 243) !important;
}
.Modal_Input_Dark::placeholder {
  color: gray;
}
.Modal_Input_Light::placeholder {
  color: gray;
}
.Modal_Html_Container_Dark {
  color: red;
  height: 10vh;
  font-size: 1rem;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.Modal_Html_Container_Light {
  color: red;
  height: 10vh;
  font-size: 1rem;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.Modal_Html_infoBox_Dark {
  border: 1px solid white;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}
.Modal_Html_infoBox_Light {
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}

.form-check {
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  line-height: 2rem;
}

#exit-todos-modal {
  margin-top: 1rem;
  max-height: 10rem;
  overflow-y: scroll;
}

.CategoryCreateEditModal {
  height: 15rem !important;
}

.dark_icon {
  color: var(--borders) !important;
  border: 3px solid var(--borders) !important;
  // background-color: red !important;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
h2.swal2-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s;
  animation-delay: 1s;
  user-select: none;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}
