%setting-box-styles {
  .box {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 3px 2px 9px -6px var(--borders);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


    .head {
      user-select: none;
      padding: 3rem 1rem;
      font-size: 1.3rem;
      text-align: center;
      color: var(--text1);
      font-family: "Space Grotesk";
    }

    .body {
      .header-position-parent{
        transform: translateY(-35px);
      }
      height: 6rem;
      color: var(--text1);
      font-family: "Space Grotesk";
      text-align: center;

      svg {
        cursor: pointer;
        height: 100%;
        margin: auto;
      }
    }

    .s-b-footer {
      user-select: none;
      padding: 3rem 1rem;
      font-size: 1rem;
      text-align: center;
      color: var(--text1);
      font-family: "Space Grotesk";


      .switch-custom-small {
        margin: 0 auto 10px auto
      }

    }


    @media only screen and (max-width: 700px) {
      flex-direction: row;
      width: 90%;
      justify-content: space-around;
      height: 8rem;

      .head {
        font-size: 1.1rem;
      }
      .body {
        height: 8rem;
        .header-position-parent{
          transform:none
        }
        svg:not(.header-alignment)  {

          cursor: pointer;
          height: 8rem

        }
        svg[class = "header-alignment"]{
          height: 3.5rem;
          transform: none !important;
        }
        button{
          height: 3.5rem;
          transform: none !important;

        }
      }
      .s-b-footer{
        font-size: 1.1rem !important;
      }
    }
  }


}

.blurBox {
  width: 94%;
  border-radius: 0.8rem;
  margin: 0 auto 1rem auto;
  padding: 0.2rem 1rem;
  height: 5.5rem;
  box-shadow: 3px 2px 9px -6px var(--borders);


  .head {
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    font-family: "Space Grotesk";
    user-select: none;
    text-align: center;
    color: var(--text1);
  }
}

#setting-modal-main-parent {
  margin: 1rem 0;

  .setting-modal-board {
    height: 29rem;
    overflow-y: auto;

    .general-settings-parent {
      @extend %d-flex-around;


      @media only screen and (max-width: 700px) {
        flex-direction: column;
      }


      @extend %setting-box-styles;
    }

    .selected-setting-layout {
      @extend %selected-setting;
    }
  }
}
