%setting-box-styles {
  .box {
    width: 15rem;
    height: 12rem;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;

    .head {
      padding: 1rem;
      font-size: 1.1rem;
      color: var(--text3);
      text-align: center;
    }
    .body {
      height: 6rem;
    }
  }
  .blurBox {
    width: 94%;
    border-radius: 0.8rem;
    margin: auto;
    padding: 0.2rem 1rem;
    height: 5.5rem;
    .head {
      padding: 0.4rem 1rem;
      font-size: 1.1rem;
      color: var(--text3);
      text-align: center;
    }
  }
}


#setting-modal-main-parent {
  margin: 1rem 0;

  .setting-modal-board {
    height: 330px;
    overflow-y: auto;

    @extend %setting-box-styles;

    .selected-setting-layout {
      @extend %selected-setting;
    }
  }
}
