@use "public";

#sidebar {
  margin-top: auto;
  padding: 2rem 0;
  overflow: hidden;
  transition: all 1s ease;
  overflow-y: auto;

  background-color: var(--sidebar);
  min-width: 230px;
  max-width: 230px;

  .ws-title {
    font-family: Changa;
    margin: 0 1rem;
    color: var(--hoverSuccess);
    font-size: 1.2rem;
    @include public.truncateTextMixin(175px);
  }

  #listCategories {
    list-style: none;
    padding-left: 0px;
    font-size: 1rem;

    .active-item {
      background-color: var(--secondSidebar);
    }
    .hover-todo-mode {
      border: 2px dashed var(--borders);
    }

    .list-category-items {
      padding: 0.5rem 0;
      cursor: pointer;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;

      // border-bottom:1px solid var(--header);

      .task-title-style {
        font-weight: 500;
        font-size: 1.1rem;
        font-family: Changa;
        letter-spacing: 1px;
        user-select: none;
        line-height: 2rem;
        @include public.truncateTextMixin(175px);
      }
      .task-title-style-active {
        font-weight: 500;
        font-size: 1.1rem;
        font-family: Changa;
        letter-spacing: 1px;
        user-select: none;
        line-height: 2rem;
        color: var(--text2);
        @include public.truncateTextMixin(175px);
      }

      .task-count-style {
        border-radius: 25%;
        padding: 3px;
        margin-right: 0.5rem;
        text-align: center;
        user-select: none;
        font-size: 0.6rem;
        height: 25px;
        border: 1px solid var(--header);
      }
    }
  }
}
