$HIGH-PRIORITY: red;
$MEDIUM-PRIORITY: orange;
$LOW-PRIORITY: var(--hoverSuccess);
$CARD-BOX-BACKGROUND-COLOR: rgb(55, 66, 109);
%priority-highlight-styles {
  min-width: 4px;
  position: absolute;
  bottom: 12px;
  top: 12px;
  z-index: 2;
  border-radius: 5px;
}

%drawer-icon-box {
  .drawer-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(4.2rem, 7vw, 7vw);
    height: clamp(4.2rem, 7vw, 7vw);

    background-color: var(--sidebar);
    border-radius: 1rem;

    .drawer-footer-icon {
      font-size: clamp(2rem, 4vw, 4vw);
      color: var(--text1);
      margin: 1.2rem;
      // display: none;
    }
  }
}
%drawer-icon-box2 {
  .bordered {
    border: 1px solid var(--text2);
    border-radius: 0.4rem;
  }
  .drawer-icon-box {
    @extend .flex-central !optional;
    width: clamp(3.2rem, 3.6vw, 3.6vw);
    height: clamp(3.2rem, 3.6vw, 3.6vw);
    background: transparent;

    .drawer-footer-icon {
      font-size: clamp(2rem, 2.2vw, 2.2vw);
      color: var(--text2);
      margin: 1.2rem;
      // display: none;
    }
  }
}

.bulk-function-parent-modal {
  @extend %drawer-icon-box2;
}

%footer-icon-box {
  margin: 0.5rem;

  .icon-box {
    width: 38px;
    height: 38px;
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color: var(--background);
      margin: 0.5rem;
      path {
        // stroke-width: 1;
        stroke: var(--background);
        // fill: var(--text1);
      }
      circle {
        stroke-width: 1;
        stroke: var(--background);
        fill: var(--text1);
      }

      line {
        stroke-width: 1;
        stroke: var(--background);
        fill: var(--text1);
      }
    }
  }
  .icon-box2 {
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color: var(--background);
    }
  }
}

#todo-page-container {
  display: flex;
  position: relative;

  .parent-ghost-sidebar {
    display: flex;
    position: absolute;
    z-index: 3;
  }
  .parent-normal-sidebar {
    display: flex;
  }
  .empty-space {
    height: 100%;
    min-width: 2.5rem;
  }

  .board {
    // color: var(--text1);
    display: flex;
    width: 100%;
    .todo-page-box {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      .todo-list {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        #todo-grid-list {
          padding: 1rem;
          .todo-box-grid {
            .mouse-drag-selected {
              border: 3px solid var(--hoverSuccess) !important;
            }
            .todo-box {
              position: relative;
              border-radius: 10px;

              .priority-highlight-high {
                @extend %priority-highlight-styles;
                background-color: $HIGH-PRIORITY;
                left: 8px;
              }
              .priority-highlight-medium {
                @extend %priority-highlight-styles;
                background-color: $MEDIUM-PRIORITY;
                left: 8px;
              }
              .priority-highlight-low {
                @extend %priority-highlight-styles;
                background-color: $LOW-PRIORITY;
                left: 8px;
              }

              .priority-highlight-high-fa {
                @extend %priority-highlight-styles;
                background-color: $HIGH-PRIORITY;

                right: 8px;
              }
              .priority-highlight-medium-fa {
                @extend %priority-highlight-styles;
                background-color: $MEDIUM-PRIORITY;

                right: 8px;
              }
              .priority-highlight-low-fa {
                @extend %priority-highlight-styles;
                background-color: $LOW-PRIORITY;
                right: 8px;
              }

              .card-content {
                word-wrap: break-word;
                padding: 0.6rem 1rem;
                @extend %box-styles;
                min-height: 8rem;
                max-height: 8rem;
                overflow-y: auto;
                .todoBox {
                  font-size: 1rem;
                  line-height: 1rem;
                  overflow-wrap: anywhere;
                  padding: 0 10px;
                  letter-spacing: 0.8px;
                  line-height: 1.2rem;
                  font-family: "Space Grotesk", Kalameh;
                }
                .todoBoxDone {
                  font-size: 1rem;
                  line-height: 1rem;
                  overflow-wrap: anywhere;
                  padding: 0 10px;
                  letter-spacing: 0.8px;
                  line-height: 1.2rem;
                  font-family: "Space Grotesk", Kalameh;
                }
                .highlighted-todo-text {
                  background-color: var(--text3);
                  color: var(--foreground);
                  letter-spacing: 1px;
                  padding: 0 4px;
                  border-radius: 4px;
                  line-height: 1rem;
                }
              }

              .card-content-dark {
                background-color: $CARD-BOX-BACKGROUND-COLOR;
                border-radius: 10px;

                * {
                  color: rgb(255, 243, 112);
                }
         
              }

              .card-content-light {
                border-radius: 10px;
                background-color: white;
                * {
                  color: black;
                }
              }

              .card-content:has(.todoBoxDone) {
                background: rgba(242, 255, 242, 0.016);
              }

              .card-content:has(> .todoBoxDone)::-webkit-scrollbar {
                background: #c1c1c17b;
                min-height: 20px;
              }

              .card-content-dark::-webkit-scrollbar {
                background-color: #c1c1c12b;
                min-height: 20px;
              }

              .card-content-light::-webkit-scrollbar {
                background-color: #d1d1d1;
                min-height: 20px;
              }

              .card-content::-webkit-scrollbar-thumb {
                background-color: var(--header);
                height: 20px;
                background-image: -webkit-linear-gradient(
                  219deg,
                  var(--header) 25%,
                  transparent 25%,
                  transparent 50%,
                  var(--header) 50%,
                  var(--header) 75%,
                  transparent 75%,
                  transparent
                );
              }
            }
          }
        }
      }
    }
  }

  .todo-list-footer {
    width: 100%;
    height: 60px;
    display: flex;
    padding-right: 0rem;

    @media only screen and (min-width: 600px) and (max-width: 1000px) {
      padding-right: 2rem;
    }
    @media only screen and (max-width: 600px) {
      padding-right: 2rem;
    }
    .search-in-todos-box {
      width: 50%;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
    .selected-category-box {
      display: flex;
      height: 30px;
      background-color: var(--text1);
      border-radius: 10px;
      margin: 1.1rem 1rem 1.1rem 2.2rem;
      h3 {
        font-size: 0.8rem;
        margin: 5px 10px;
      }
      .close-category {
      }
    }
    .footer-icon-box {
      @extend %footer-icon-box;
    }
  }
}
