$HIGH-PRIORITY: red;
$MEDIUM-PRIORITY: orange;
$LOW-PRIORITY: var(--hoverSuccess);



%drawer-icon-box {
  .drawer-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(4.2rem, 7vw, 7vw);
    height: clamp(4.2rem, 7vw, 7vw);

    background-color: var(--sidebar);
    border-radius: 1rem;

    .drawer-footer-icon {
      font-size: clamp(2rem, 4vw, 4vw);
      color: var(--text1);
      margin: 1.2rem;
      // display: none;
    }
  }
}
%drawer-icon-box2 {
  .bordered {
    border: 1px solid var(--text2);
    border-radius: 0.4rem;
  }
  .drawer-icon-box {
    @extend .flex-central !optional;
    width: clamp(3.2rem, 3.6vw, 3.6vw);
    height: clamp(3.2rem, 3.6vw, 3.6vw);
    background: transparent;

    .drawer-footer-icon {
      font-size: clamp(2rem, 2.2vw, 2.2vw);
      color: var(--text2);
      margin: 1.2rem;
      // display: none;
    }
  }
}

.bulk-function-parent-modal {
  @extend %drawer-icon-box2;
}

%footer-icon-box {
  width: 38px;
  margin: 0.8rem 0.5rem 0.3rem 0.5rem;

  .icon-box {
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color: var(--background);

      path {
        stroke-width: 1;
        stroke: var(--background);
        fill: var(--text1);
      }
      circle {
        stroke-width: 1;
        stroke: var(--background);
        fill: var(--text1);
      }

      line {
        stroke-width: 1;
        stroke: var(--background);
        fill: var(--text1);
      }
    }
  }
  .icon-box2 {
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color: var(--background);
    }
  }
}

#todo-page-container {
  display: flex;
  position: relative;

  .parent-ghost-sidebar {
    display: flex;
    position: absolute;
    z-index: 2;
  }
  .parent-normal-sidebar {
    display: flex;
  }
  .empty-space {
    height: 100%;
    min-width: 2.5rem;
  }

  .board {
    color: var(--text1);
    display: flex;
    width: 100%;
    .todo-page-box {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      .todo-list {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        #todo-grid-list {
          padding: 1rem;
          .todo-box-grid {
            .mouse-drag-selected {
              border: 2px solid var(--borders) !important;
            }
            .todo-box {
              @extend %box-styles;
              min-height: 6rem;
              max-height: 6rem;
              border: 2px solid gray;
              .card-content{
                position: relative;
                word-wrap: break-word;
                display:flex;
                padding-left:.6rem;
           
              .priority-highlight-high {
                margin-right:9px;
                width:2px;
                height:65px;
                background-color:$HIGH-PRIORITY;
              }
              .priority-highlight-medium {
                margin-right:9px;
                width:2px;
                height:65px;
                background-color:$MEDIUM-PRIORITY;
              }
              .priority-highlight-low {
                margin-right:9px;
                width:2px;
                height:65px;
                background-color:$LOW-PRIORITY;
              }

              .todoBox {
                font-size: 1rem;
                line-height: 1rem;
                color: black;
              }
       
              .todoBoxDone {
                font-size: 1rem;
                line-height: 1rem;
                color: black;
              }

              .highlighted-todo-text {
                background-color: var(--text3);
                color: var(--foreground);
                letter-spacing: 1px;
                padding: 0 4px;
                border-radius: 4px;
                line-height: 1rem;
              }
            }
            }
          }
        }
      }
    }
  }

  .todo-list-footer {
    width: 100%;
    height: 60px;
    display: flex;

    .search-in-todos-box {
      width: 50%;
    }
    .selected-category-box {
      display: flex;
      height: 30px;
      background-color: var(--text1);
      border-radius: 10px;
      margin: 1.1rem 1rem 1.1rem 2.2rem;
      h3 {
        font-size: 0.8rem;
        margin: 5px 10px;
      }
      .close-category {
      }
    }
    .footer-icon-box {
      @extend %footer-icon-box;
    }
  }
}
