%footer-icon-box {
  width: 38px;
  margin: .8rem .5rem 0.3rem 0.5rem;

  .icon-box {
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color:var(--background);

      path{
        stroke-width:1;
        stroke:var(--background);
        fill:var(--text1);
      }
      circle{
        stroke-width:1;
        stroke:var(--background);
        fill:var(--text1);
      }

      line{
        stroke-width:1;
        stroke:var(--background);
        fill:var(--text1);
      }
    }
  }
  .icon-box2 {
    border-radius: 25%;
    background-color: var(--text1) !important;

    svg {
      font-size: 1.3rem;
      color:var(--background);
    }
  }
}


#todo-page-container {
  display: flex;
  // width: 100vw;
  position:relative;  
  .board {
    color: var(--text1);
    display: flex;
    width: 100%;
    .todo-page-box {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      .todo-list {
        overflow-y: auto;
        width: 100%;
        
        #todo-grid-list {
          padding: 1rem;
          .todo-box-grid {
            .todo-box {
              @extend %box-styles;
              min-height: 6rem;
              max-height: 6rem;
              border: 2px solid gray;
              .todoBox{
                font-size: 1rem;
                line-height:1rem;
                color: var(--text1)
              }
              
              .todoBoxDone{
                font-size: 1rem;
                line-height:1rem;
                color:black;
              }

              .highlighted-todo-text{
                background-color:var(--text3);
                color:var(--foreground);
                letter-spacing: 1px;
                padding:0 4px;
                border-radius: 4px;
                line-height: 1rem;
              }
              

            }
          }
        }
      }
    }
  }

  .todo-list-footer {
    width: 100%;
    height: 60px;
    display: flex;

    .search-in-todos-box{
      width:50%;
    }
    .selected-category-box {
      display: flex;
      height: 30px;
      background-color: var(--text1);
      border-radius: 10px;
      margin: 1.1rem 1rem 1.1rem 2.2rem;
      h3 {
        font-size: 0.8rem;
        margin: 5px 10px;
      }
      .close-category {
      }
    }
    .footer-icon-box {
      @extend %footer-icon-box;
    }
    
  }
  
}
